statemachine/post_transaction.json
{
  "Comment": "A description of my state machine",
  "StartAt": "GetUser",
  "States": {
    "GetUser": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Catch": [
        {
          "Comment": "DynamoDBError",
          "ErrorEquals": ["States.ALL"],
          "Next": "DynamoDBError",
          "ResultPath": "$.DynamoDBError"
        }
      ],
      "Parameters": {
        "TableName": "${UserTableArn}",
        "Key": {
          "id": {
            "S.$": "$.userId"
          }
        }
      },
      "Next": "ValidateUser",
      "ResultPath": "$.DynamoDBUser"
    },
    "ValidateUser": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.DynamoDBUser.Item.id",
          "IsPresent": true,
          "Next": "RequestPayment"
        }
      ],
      "Default": "ValidationError"
    },
    "RequestPayment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.requestPaymentOutput",
      "ResultSelector": {
        "payload.$": "$.Payload"
      },
      "Parameters": {
        "Payload": {
          "user_id.$": "$.DynamoDBUser.Item.id.S",
          "amount.$": "$.amount"
        },
        "FunctionName": "${RequestPaymentLambdaArn}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "Comment": "RequestPayment",
          "ErrorEquals": ["States.ALL"],
          "Next": "LambdaError",
          "ResultPath": "$.lambdaError"
        }
      ],
      "Next": "ExecutePayment"
    },
    "ExecutePayment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload": {
          "source.$": "$.requestPaymentOutput.payload.source",
          "id.$": "$.requestPaymentOutput.payload.id"
        },
        "FunctionName": "${ExecutePaymentLambdaArn}"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "Comment": "ExecutePayment",
          "ErrorEquals": ["States.ALL"],
          "Next": "LambdaError",
          "ResultPath": "$.lambdaError"
        }
      ],
      "Next": "Succeed"
    },
    "Succeed": {
      "Type": "Succeed"
    },
    "ValidationError": {
      "Type": "Fail",
      "Error": "ValidationError",
      "Cause": "Invalid user"
    },
    "DynamoDBError": {
      "Type": "Fail",
      "Error": "DynamoDBError",
      "Cause": "A server error has ocurred"
    },
    "LambdaError": {
      "Type": "Fail",
      "Error": "LambdaError",
      "CausePath": "$.lambdaError.Cause"
    }
  }
}
